.hourly-temp {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 12px;
    width: 90%;
    max-width: 800px;
    font-weight: 200;
    justify-content: center;
    padding: 12px;
}

.hourly-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--hourly-item);
    border-radius: 40px;
    padding: 15px 8px;
    max-width: 110px;
    overflow: hidden;
    font-size: 1.2rem;
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.08);
}

.hourly-item img, .hourly-item-now img {
    width: 95px;
    height: 95px;
}

.hourly-item-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 15px 8px;
    max-width: 110px;
    overflow: hidden;
    font-size: 1.2rem;
    box-shadow: inset 0 4px 12px rgba(255, 255, 255, 0.2);
}