:root {
  --text: #ffffff;
  --bg: #6ea8f1;
  --current-temp-bg: #001b4d;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: "Poppins", sans-serif;
}

.parent {
  display: grid;
  place-items: center;
  min-height: 100vh;
}