:root {
  --text: #ffffff;
  --bg: #6ea8f1;
  --current-temp-bg: #001b4d;
  --current-temp-bg2: #5185c7;
  --current-temp-stats: #0a2859;
  --hourly-item: #558ed9;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: "Poppins", sans-serif;
}

.parent {
  display: grid;
  place-items: center;
  min-height: 100vh;
}